/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  
  
  --first-color: hsl(192, 32%, 72%);
  --button-color: hsl(0, 3%, 14%);
  --button-color-alt: hsl(0, 4%, 15%);
  --title-color: hsl(44, 100%, 47%);
  --text-color: hsl(0, 0%, 45%);
  --text-color-light: hsl(0, 0%, 71%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: #292828;
  --border-color: hsl(0, 0%, 35%);
  

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation dark mode*/
  transition: .4s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: hsl(0, 0%, 100%);
  --button-color: hsl(0, 0%, 12%);
  --button-color-alt: hsl(0, 0%, 7%);
  --title-color: hsl(219, 82%, 62%);
  --text-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 12%);
  --container-color: hsl(0, 0%, 26%);
  --border-color: hsl(0, 100%, 50%);
  
.swiper-pagination-bullet-active {
  width:32px;
  background-color: #5cfd5c;
  border-radius: 14px;
}


  
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: rgb(24, 26, 27);
  font-size: 1.25rem;
  cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .button--gray {
  color: hsl(24, 100%, 45%);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(0, 0%, 7%, 0.3);
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
  color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
  background: hsl(0, 0%, 0%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 1rem;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: .5s;
  
}



.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle, 
.nav__shop, 
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  position: relative;
  left: 1rem;
  font-size: small;
}

.nav__logo-icon {
  font-size: 1.25rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle, 
.nav__shop {
  font-size: 1.25rem;
  cursor: pointer;
}



@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 3.5rem;
    transition: .3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/


.bitch {
  width: 80px;
  position: relative;
  top: 0.7rem;
}



.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.fullscreen-btn{
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.fullscreen img {
  max-width: 100%;
  max-height: 100%;
}

.fullscreen .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(113, 203, 255, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
  border-radius: 15px;
}

.fullscreen .prev-btn {
  left: 10px;
}

.fullscreen .next-btn {
  right: 10px;
}

.fullscreen .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(104, 195, 255, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
  border-radius: 12px;
}















.swiper {
    width: 70%;
    height: 100%;
    padding: 50px 0;
    position: relative;
    top: 2.6rem;
 
}

.swiper-slide {
    position: relative;
    width: 320px;
    height: 450px;
    aspect-ratio: 2/4;
    border-radius: 14px;
    border: 1px solid;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
}

.title{
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%, -20%);
    -ms-transform: translate(-50%,-20%);
    width: max-content;
    text-align:center;
    padding: 10px 18px;
    background: black;
    border-radius: 8px;
    border: 2px solid;
    box-shadow: 0 4px 30px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.5s linear;
}

.title span{
    font-size: 1.2rem;
    font-weight: 600;
}

.swiper-slide-active .title{
    bottom:-12px;
    box-shadow: 0 20px 30px 2px rgb(52, 145, 231)
}

.swiper-pagination{
    --swiper-pagination-bottom: 1px;
}

.swiper-pagination-bullet {
    width:14px;
    height: 14px;
    background-color: #000000;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    
}

.swiper-pagination-bullet-active {
    width:32px;
    background-color: #8080fd;
    border-radius: 14px;
}


@media (max-width: 1100px) {
    .swiper-slide {
        width: 300px;
    }
}

@media (max-width:900px) {
    .swiper-slide {
        width: 300px;
    }
    
}


@media (max-width:700px) {
    .swiper-slide {
        width: 250px;
    }
    
}

@media (max-width:610px) {
    .swiper-slide {
        width: 200px;
    }
    
}































img:hover {
  animation: scaleUp 0.5s forwards;
}


@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}


.home__social {
  position: absolute;
  top: 35%;
  left: -5rem;
  transform: rotate(-90deg);
  display: flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: .3s;
}

.home__social-link:hover {
  color: var(--title-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
  position: relative;
  top: 3rem;
}

.home__description {
  margin-bottom: var(--mb-1-5);
  container-type: inline-size;
  width: 300px;
  position: relative;
  left: 1px;
  top: 3rem;
}

.home__description > p {
  font-size: 19cqi;
}

.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}






/*===========toturial===============*/

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}









/*================specs=========================*/


.specs__container {
  position: relative;
}

.specs__content {
  row-gap: 1.5rem;
  position: relative;
  right: -5rem;
}

.specs__data {
  display: grid;
  row-gap: .25rem;
}

.specs__icon {
  font-size: 1.2rem;
  color: var(--white-color);
}

.specs__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.specs__subtitle {
  font-size: var(--smaller-font-size);
}

.specs__data:nth-child(1), .specs__data:nth-child(4) {
  margin-left: 1.5rem;
}

.specs__img {
  width: 250px;
  position: absolute;
  top: 2rem;
  right: -4rem;
}





/*=============== DISCOUNT ===============*/
.discount__container {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border-radius: .75rem;
}

.discount__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.discount__description {
  margin-bottom: var(--mb-1);
}

.discount__img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -11rem;
}









/*=============== accecories ===============*/
.featured__container {
  row-gap: 2.5rem;
}

.featured__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: .3s;
}

.featured__tag {
  background-color: var(--first-color);
  padding: .5rem 1rem;
  color: #000000;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: rotate(-90deg);
  left: -1rem;
  top: 3rem;
}

.featured__img {
  height: 214px;
  margin-bottom: var(--mb-1);
}

.featured__title, 
.featured__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.featured__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.featured__price {
  display: block;
  color: var(--first-color);
  transition: .3s;
}

.featured__button {
  font-size: var(--small-font-size);
  transform: translateY(1rem);
  opacity: 0;
}

.featured__card:hover {
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.featured__card:hover .featured__button {
  transform: translateY(0);
  opacity: 1;
}

.featured__card:hover .featured__price {
  margin-bottom: var(--mb-1-5);
}



/*=============== PRODUCTS ===============*/
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
 
}




.products__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  text-align: center;
  transition: .3s;
  border-radius: 2rem;

  
  
}

.products__img {
  width: 200px;
  height: 200px;
  object-fit:cover;
  border-radius: 2rem;

  
}

.products__title, 
.products__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.products__title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-5);
}

.products__price {
  color: var(--first-color);
}

.products__button {
  background-color: var(--button-color);
  padding: .6rem;
  color: #fff;
  font-size: 0.6rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .3s;
  border-radius: 2rem;
  
}

.products__button a{
  color: #FFF;
}



.products__button:hover {
  background-color: var(--button-color-alt);
}

.products__card:hover {
  box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

.section__title{
  position: relative;
  top: 2rem;
}




/*=============== NEWSLETTER ===============*/
.newsletter__bg {
  background-color: var(--first-color);
  padding: 3rem 1.5rem;
  text-align: center;
  row-gap: 2.5rem;
}

.newsletter__title {
  font-size: var(--h1-font-size);
  color: hsl(0, 0%, 15%);
  margin-bottom: var(--mb-1-5);
}

.newsletter__description {
  color: hsl(0, 0%, 0%);
}

.newsletter__subscribe {
  display: flex;
  flex-direction: column;
  row-gap: .50rem;
}

.newsletter__input {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 94%);
  padding: 1.25rem 1rem;
  color: hsl(0, 0%, 15%);
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer__list, 
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__copy {
  display: block;
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  display: inline-flex;
  padding: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/*=============== CART ===============*/
.cart {
  position: fixed;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  padding: 3.5rem 2rem;
  transition: .4s;
}

.cart__title-center {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.cart__close {
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: .9rem;
  cursor: pointer;
}

.cart__container {
  display: grid;
  row-gap: 1.5rem;
}

.cart__card {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart__box {
  background-color: var(--container-color);
  padding: .75rem 1.25rem;
  border: 1px solid var(--border-color);
}

.cart__img {
  width: 50px;
}

.cart__title {
  font-size: var(--normal-font-size);
  margin-bottom: .5rem;
}

.cart__price {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1-5);
}

.cart__amount,
.cart__amount-content{
  display: flex;
  align-items: center;
}

.cart__amount{
  column-gap: 3rem;
}

.cart__amount-content{
  column-gap: 1rem;
}

.cart__amount-box {
  display: inline-flex;
  padding: .25rem;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.cart__amount-trash {
  font-size: 1.15rem;
  color: var(--first-color);
  cursor: pointer;
}

.cart__prices {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.cart__prices-item, 
.cart__prices-total {
  color: var(--title-color);
}

.cart__prices-item {
  font-size: var(--small-font-size);
}

.cart__prices-total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

/* Show cart */
.show-cart {
  right: 0;
}

/*=============== BREAKPOINTS ===============*/

@media (max-width: 600px) {


  .products__container {
    grid-template-columns: repeat(1, 1fr);
  }


}

/* For small devices */
@media screen and (max-width: 320px) {

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  
  .home__title {
    font-size: var(--h1-font-size);
  }

  .home__button {
    font-size: var(--smaller-font-size);
  }

  .story__square,
  .story__img,
  .testimonial__square,
  .testimonial__img {
    width: 180px;
  }

  .story__square,
  .testimonial__square {
    height: 180px;
  }

  .products__container {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  } 

  

 
}


/* For medium devices */
@media screen and (min-width: 576px) {

  .featured__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .bitch {
    display: none;
  
  }

 
  
 

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {

  .section {
    padding: 8rem 0 1rem;
  }

  .cart {
    width: 420px;
    box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__link {
    text-transform: initial;
    font-size: var(--normal-font-size);
  }
  .nav__btns {
    margin-left: auto;
  }

  
  
  .home__data {
    padding: 0 0 3rem 6rem;
  }
  .home__social {
    top: 47%;
    column-gap: 2rem;
  }

  .featured__title,
  .featured__price,
  .new__title,
  .new__price {
    font-size: var(--normal-font-size);
  }

  .story__container,
  .testimonial__container,
  .newsletter__bg {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .story__section-title {
    text-align: initial;
  }
  .story__section-title::before {
    margin: initial;
  }
  .story__images {
    order: -1;
  }

  .products__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2.5rem;
  }
  .products__card {
    padding: 2rem 0;
  }
  .products__img {
    height: 155px;
  }

  .newsletter__bg {
    text-align: initial;
    column-gap: 2rem;
    padding: 4.5rem;
  }
  .newsletter__subscribe {
    flex-direction: row;
  }
  .newsletter__input {
    width: 100%;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__title {
    font-size: var(--h3-font-size);
  }
}



@media screen and (min-width: 800px) {

  .section__title {
    font-size: var(--h2-font-size);
  }

  .home__container {
    column-gap: 2rem;
  }
  
  .home__social {
    left: -6rem;
  }
  .home__data {
    padding: 0 0 8rem 6rem;
  }

  .featured__container {
    grid-template-columns: repeat(3, 312px);
    padding-top: 2rem;
  }
  
  .story__container,
  .testimonial__container {
    column-gap: 8rem;
  }

  .story__square,
  .story__img,
  .testimonial__square,
  .testimonial__img {
    width: 450px;
  }

  .story__square,
  .testimonial__square {
    height: 450px;
  }

  .products__container,
  .new__container {
    padding-top: 2rem;
  }

  .testimonial__container {
    padding-bottom: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .bitch {
    display:unset;
    position: relative;
    left: -40rem;
  
  }

  .story__container,
  .testimonial__container {
    column-gap: 13rem;
  }

  .story__container {
    padding-top: 3rem;
  }
  .story__img {
    left: 5rem;
    top: -5rem;
  }

  .testimonial__img {
    right: 5rem;
    top: 5rem;
  }

  .scrollup {
    right: 3rem;
  }
}



section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform:translateX(0);
}



